* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: antiquewhite;
}

header {
    text-align: center;
}

.header h1 {
    font-family: 'Times New Roman', Times, serif;
}

/*created class selector for elements in the navigation bar*/
.header h2 nav ul li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    align-items: center;
}

/*created ids for individual navigation links*/
#article-about,
#article-portfolio,
#footer-contact {
    text-align: center;
}

/*set the font size to 20px and aligned text center*/
.article-h1 {
    font-size: 20px;
    text-align: center;
}

.overlay {
    position: bottom;
    top: 80px;
    right: 15px;
}

.h2 {
    font-size: 20px;
    position: absolute;
    top: 250px;
    color: white;
}

/*created a container to hold the parent elements of the card boxes*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    text-align: center;
    justify-content: center;
}

.portfolio-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*created child element for smaller cards and used a class selector to target multiple child elements*/
.small-card {
    flex: 0 0 100%;
    height: 200px;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    row-gap: 5px;
}

/*created child element for the main card and an id attribute to target specific element*/
#main-card {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

/*created media query for a responsive layout */
@media screen and (max-width: 500px) {
    .portfolio-container {
        flex-direction: column;
    }

    .main-card {
        width: 200px;
        height: 200px;
    }

    .h2 {
        position: relative;
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
    }

    .main-card {
        width: 400px;
    }

    .h2 {
        position: relative;
        color: black;
        top: 200px;
    }
}

/*created media query to create a responsive layout that will apply to the small-card and main-card elements*/
@media screen and (min-width: 992px) {
    .small-card {
        flex: 0 0 33.333%;
        flex-wrap: wrap;
        height: 300px;
        width: 300px;
    }

    #main-card {
        flex: 0 1 100%;
        width: 900px
    }
}

/*aligned text in the center*/
.footer {
    text-align: center;
}

footer div ul li {
    list-style-type: none;
}